#jumpMenu {
  left: 0;
  top: 0;
  background-color: lightgray;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
}

#jumpMenu a {
    align-content: flex-start;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    border: 1px solid black;
}

#jumpMenu a:hover {
    color: black;
    background-color: white;
}

#jumpMenu a:active {
    color: white;
    background-color: blueviolet;
}

header {
  top: 0;
  left:10%;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: lightblue;
}

header a {
  display: block;
}

footer {
  position: relative;
  left: 10%;
  width:100%;
}

#thanks {
  margin: 10px;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  position: fixed;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 300px));
  justify-content: center;
  grid-auto-flow: row;
  margin: auto;
  width: 90%;
}

#container article {
  width: 300px;
  margin: 20px;
  padding: 50px;
}

body {
    background: white;
}

h1 {
    text-align: center;
}
